/* src/pages/Projects.css */
.projects {
  padding: 20px;
  line-height: 1.6;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  background: #f9f9f9;
  padding: 10px;
}
p {
  cursor: pointer;
}
